<div class="container" id="detalles">
  <div>
    <img id="routes" src="images/tusviajes.jpg" alt="">
    <a id="link" class="btn btn-outline-primary" href="/trips">Nueva ruta</a>
  </div>
  <br>
  <br>
  <ul>
    {{#each trips}}
    <li class="list-group-item list-group-item-action">
      <b><div id="cuadro">
              {{choices}}
              </div>
        <div>
          {{name}}
          <a href="/routes/{{_id}}/edit">
            <img id="edit" src="images/edit.png">
          </a>
        </div><br>
        <div>
          <img id="reddot" src="images/reddot.jpg" alt="origin-logo">
          <input type="text" name="origen" value="{{origin}}" disabled>
          <br>
          <br>
          <img id="pointer" src="images/red.png" alt="destination-logo">
          <input type="text" name="destino" value="{{destination}}" disabled>
        </div>
        <br>
        <div id="simbolos">
          {{ time }} min / {{ distance }} km
        </div>
        <br>
        <div id="simbolos">
          <div>Total: {{ cost }} €</div>
          <div>
            <form action="/routes/{{_id}}/remove" method="post">
              <input type="image" id="trash" src="images/trash.png" />
          </div>
        </div>
        </form>
    </li>
    {{/each}}
  </ul>
</div>
</div>

